<connectionStrings>
	<!--<add name="eCommerce" connectionString="Data Source=DESKTOP-103O47I\SQLEXPRESS;Initial Catalog=eCommerceNet;Integrated Security=True;Encrypt=False" />-->
	<add name="eCommerceNetEntities" connectionString="metadata=res://*/EntityAdoNet.csdl|res://*/EntityAdoNet.ssdl|res://*/EntityAdoNet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-103O47I\SQLEXPRESS;initial catalog=eCommerceNet;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>